{% block footer %}
<div class="section footer">
    <div class="row">
        <div class="columns">
            <div class="column">
                <p class="title">{{ _('Support' )}}</p>
                <a href="https://docs.vocard.xyz" target="blank">{{ _('Document') }}</a>
                <a href="https://discord.com/invite/wRCgB7vBQv" target="blank">Discord</a>
                <a href="https://github.com/ChocoMeow/Vocard" target="blank">Github</a>
                <a href="https://discord.com/discovery/applications/605618911471468554" target="blank">Discovery</a>
            </div>
            <div class="column">
                <p class="title">{{ _('Donation') }}</p>
                <a href="https://ko-fi.com/chocoo" target="blank">Ko-Fi</a>
                <a href="https://www.patreon.com/Vocard" target="blank">Patreon</a>
            </div>
            <div class="column">
                <p class="title">{{ _('Votes') }}</p>
                <a href="https://top.gg/bot/605618911471468554" target="blank">Top.GG</a>
                <a href="https://discords.com/bots/bot/605618911471468554" target="blank">Discords</a>
            </div>
            <div class="column">
                <p class="title">{{ _('Legal') }}</p>
                <a href="https://www.termsfeed.com/live/4322db80-d6f4-4cd0-9aaf-73080323ff01" target="blank">{{ _('Privacy Policy') }}</a>
                <a href="https://www.termsfeed.com/live/4d3977eb-65b6-4ce2-a446-1cd80e619ab0" target="blank">{{ _('Terms Of Service') }}</a>
            </div>
        </div>
        <div class="social-icons">
            <a href="https://discord.com/invite/wRCgB7vBQv" target="blank"><i class="fa-brands fa-discord"></i></a>
            <a href="https://github.com/ChocoMeow/Vocard" target="blank"><i class="fa-brands fa-github"></i></a>
        </div>
    </div>
    <div class="footer-line"></div>
    <div class="row">
        <p class="right">&copy; 2025 Vocard Development</p>
    </div>
</div>
{% endblock %}
